/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-height: 0 !important;
}

.animate-display {
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}

ion-card.savedRecipe {
    max-height: 35%;
}

#loadCard, #loadBox, ion-card.searchResult {
    max-height: 45px;
}

#loadCard, #loadBox, ion-card.searchResult {
    margin-top: 10px;
    margin-bottom: 10px;
}

#loadCard.hidden, #loadBox.hidden {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}